@import url('/public/stylesheets/product.css');
body{
    width: 60%;
    margin: 0;
    position: relative;
    top: 500px;
    left: 50%;

}
#header h1 {
    text-align: left;
    text-indent: 5%;
}